NEXT_PUBLIC_PROTOCOL="http:"
NEXT_PUBLIC_APP_DOMAIN="localhost:3000"
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
NEXT_PUBLIC_API_ENDPOINT="http://localhost:8000"
NEXT_PUBLIC_GOOGLE_REDIRECT_URL="http://localhost:8000/oauth/google"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""